* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

.title {
    font-size: 5rem;
    font-weight: bold;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: no-repeat center/cover url("./img/background.jpeg");
}

.wrapper {
    text-align: center;
    padding: 3rem;

}

.countdown {
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 40%;
    color: #f5f5f5;

}

.day,
.hour,
.minute,
.second {
    font-size: 6rem;
    color: #f5f5f5;
    text-shadow: 0px -2px 3px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .title {
        font-size: 3rem;
    }

    .day,
    .hour,
    .minute,
    .second {
        font-size: 1rem;
    }

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .day,
    .hour,
    .minute,
    .second {
        font-size: 2rem;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .day,
    .hour,
    .minute,
    .second {
        font-size: 5rem;
    }
}